/* FONT IMPORT */
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

:root {
  --font-default: "Bree Serif", serif;
  --accent-color: #7295a0;
}

* {
  font-family: var(--font-default);
}

body {
  margin: 0;
  background-color: beige;
  padding: 50px;
}

#vc-container {
  max-width: 750px;
  margin: 0 auto;
  background-color: white;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

/*
    CARD HEADER
*/
#vc-container-header {
  padding: 25px;
  border-bottom: 1px solid #ddd;
}
h1 {
  margin: 0;
  font-size: xx-large;
  text-align: center;
  letter-spacing: 4px;
  text-transform: uppercase;
}

/*
    CARD CONTENT
*/
#vc-container-content {
  padding: 25px;
}
#vc-form-content textarea {
  display: block;
  margin: 0;
  border-radius: 5px;
  border: 1px solid #ddd;
  resize: none;
  font-size: 20px;
  padding: 20px;
}
#vc-form-content textarea:focus {
  border-color: var(--accent-color);
  outline: none;
}
#vc-result-content {
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  background-color: var(--accent-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
#vc-result-content #result-container {
  font-size: 28px;
  color: white;
}
.vc-actions-container {
  margin-top: 15px;
  display: flex;
}
.vc-actions-container > :first-child {
  margin-left: auto;
}
.vc-actions-container > :not(:last-child) {
  margin-right: 15px;
}
button#submit-button {
  padding: 10px 20px;
  background-color: var(--accent-color);
  color: white;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}
button#submit-button:hover {
  filter: brightness(90%);
}
button#submit-button:active {
  filter: brightness(80%);
}

button#clear-button {
  padding: 10px 20px;
  background-color: transparent;
  color: var(--accent-color);
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}
button#clear-button:hover {
  filter: brightness(70%);
}
button#clear-button:active {
  filter: brightness(50%);
}

/*
    UTILITY
*/
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100;
  margin: 0 -10px;
}
.row .col {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  margin: 0 10px;
}
